body,.main:before,.glass:before{
    background: url("https://s2.loli.net/2022/06/07/mti4GIwuRUoYe8l.jpg") 0 / cover fixed;
}
.main{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 350px;
    height: 600px;
    line-height: 2;
    margin: auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, .6);
    overflow: hidden;
}
.main:before{
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    filter: blur(20px);
    z-index: -1;
    margin: -30px;
}
.glass{
    line-height: 2;
    margin: auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, .6);
    overflow: hidden;
}
.glass:before{
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    filter: blur(20px);
    z-index: -1;
    margin: -30px;
}
